<h1>Editing cards</h1>

<% form_for(@cards) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @cards %> |
<%= link_to 'Back', cards_path %>
